*.ipch
*.tlog
CodeSegment/thread/Debug/
CodeSegment/thread/x64/
CodeSegment/threadpool/Release/
CodeSegment/threadpool/x64/
CodeSegment/tupe/Debug/
CodeSegment/x64/Debug/
CodeSegment/x64/Release/
CodeSegment/CodeSegment/Debug/
CodeSegment/CodeSegment/x64/Debug/
CodeSegment/Debug/
CodeSegment/function/Debug/
CodeSegment/threadpool/Debug/
CodeSegment/Release/
CodeSegment/pb3/cmakepb3.6.1/
CodeSegment/pb3/protobuf-all-3.6.1/
CodeSegment/shareptr/Debug/
/CodeSegment/.vs/CodeSegment/v15
/CodeSegment/.vs/config
/CodeSegment/pb3/.vs/protobuf/v15
/CodeSegment/pb3/pbc-master/.vs/pbc/v15
